#include <physical_layouts.dtsi>

/ {
    default_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   75       0     0     0>
            , <&key_physical_attrs 100 100  100   12       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   12       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  900   12       0     0     0>
            , <&key_physical_attrs 100 100 1000   12       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200   12       0     0     0>
            , <&key_physical_attrs 100 100 1300   75       0     0     0>
            , <&key_physical_attrs 100 100    0  175       0     0     0>
            , <&key_physical_attrs 100 100  100  112       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  112       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  900  112       0     0     0>
            , <&key_physical_attrs 100 100 1000  112       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  112       0     0     0>
            , <&key_physical_attrs 100 100 1300  175       0     0     0>
            , <&key_physical_attrs 100 100    0  275       0     0     0>
            , <&key_physical_attrs 100 100  100  212       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  212       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  900  212       0     0     0>
            , <&key_physical_attrs 100 100 1000  212       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  212       0     0     0>
            , <&key_physical_attrs 100 100 1300  275       0     0     0>
            , <&key_physical_attrs 100 100  225  325    1000   275  1000>
            , <&key_physical_attrs 100 100  225  325    2000   275  1000>
            , <&key_physical_attrs 100 100  225  325    3000   275  1000>
            , <&key_physical_attrs 100 100 1075  325  (-3000) 1125  1000>
            , <&key_physical_attrs 100 100 1075  325  (-2000) 1125  1000>
            , <&key_physical_attrs 100 100 1075  325  (-1000) 1125  1000>
        ;
    };
};
